<p>Hello {{first_name}} {{last_name}}</p>
<p>{{admin_name}} have assigned you a course on Adminoh.</p>
<p>Kindly login to Adminoh and start the course.</p>
<a href="https://adminohapp.com/l/member">Click to Login</a>
<p>Regards,</p>
<b>Adminoh</b>